extends includes/template.pug

block content
  .hero
    p 👋 Hi, my name is
    p.sans.massive Felix Sebastian.
    p.sans.massive.light Full stack software developer
    p
      | I'm a software engineer who specialises in building web apps end to
      | end with a passion for elegant, human centred solutions.
  .space
