body {
  font-family: "IBM Plex Mono", monospace;
  background-color: #ebeef2;
  color: #2a2b2b;
  line-height: 1.8;
  position: relative;
}

.viewport {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100vh;
  overflow-y: auto;
}

a {
  color: #2a2b2b;
  text-decoration: none;
}

p {
  color: #5a616e;
}

button {
  background-color: none;
  border: 2px solid #111;
  padding: 1rem 2rem;
  color: #111;
  transition: background-color 400ms ease;
  cursor: pointer;
}

button:hover {
  background-color: #2a2b2b33;
}

.navbar {
  display: flex;
  list-style: none;
  padding: 1rem;
  align-items: center; /*for flex items*/
  font-weight: 600;
}

.navbar a {
  margin-right: 2rem;
}

.navbar a:hover {
  color: #2a2b2b;
}

.navbar span {
  font-weight: 400;
  color: #5a616e;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 3rem;
  margin: 1rem;
}

.highlight {
  color: #64ffda;
}

.sans {
  font-family: "IBM Plex Sans", sans-serif;
}

.massive {
  font-size: 6rem;
  font-weight: 700;
  line-height: 1;
  color: #2a2b2b;
}

.light {
  font-size: 3rem;
  font-weight: 400;
  color: #5a616e;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  flex-grow: 1;
  margin: 0 auto;
  max-width: 800px;
}

.space {
  height: 12vh;
}

.hero {
}

.socials {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-size: 1.5rem;
  padding: 1rem;
  position: fixed;
  align-items: center;
  width: 3rem;
  left: 0;
  bottom: 0;
  overflow: hidden;
}

.socials a:last-of-type {
  padding-bottom: 5rem;
}

.socials a {
  display: block;
  height: 1rem;
}

.socials .pinstripe {
  height: 2px;
  position: absolute;
  bottom: -996rem;
  height: 1000rem;
  border-left: 1px solid #2a2b2b;
  border-right: 1px solid #2a2b2b;
}
